<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if category_list %}
    <title>Shop APP</title>
</head>
<body>
    <h1>Products:</h1>
    {% for category in category_list %}
        <h1><li><a href="{% url 'shop:detail_category' category.id ">{{ category.name }}</a></li></h1>
        {% for products in category.products.all %}
            <h3><li><a href="{% url 'shop:detail_product' products.id ">{{ products.name }}></a></li></h3>
        {% endfor %}
    {% endfor %}

    {% else %}
        <p>No products are available</p>
    {% endif %}
</body>
</html>